.form-container {
  width: 300px;
  margin: 0 auto;
}

.input-wrapper {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #E0E2EC;
  position: relative;
  margin-bottom: 20px;
  padding-left: 10px;
  border-bottom: 2px solid black;
}

.input {
  width: 100%;
  padding: 10px 0;
  margin-top: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background-color: transparent;
  transition: all 0.2s ease;
}

.label {
  padding-left: 10px;
  padding-top: 5px;
  position: absolute;
  left: 0;
  top: 10px;
  font-size: 18px;
  color: #666;
  pointer-events: none;
  transition: all 0.2s ease;
}

.input-wrapper.focused .label.shrink,
.label.shrink {
  top: -10px;
  font-size: 16px;
  color: #000;
}

.underline {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.2s ease;
}
.first{
  width: 60%;
}
.one{
  width: 30%;
  margin-top: 20px;
}
.two{
  width: 65%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 287px;
}
.twoT{
  width: 52%;
  margin-right: 20px;
}
.twoS{
  width: 55%;
  /* margin-left: 10px; */
}
.three{
  margin-left: 287px;
}
.select {
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  padding: 10px 0;
  box-sizing: border-box;
}

.select option {
  color: #666;
}
.btnA{
  width: 200px;
  height: 70px;
  border-radius: 40px;
  border: none;
  background-color: #fff;
  color: #005BBA;
  font-size: 20px;
  font-weight: 700;
}
.secondP{
  margin-top: 50px;
  margin-left: 30px;
  width: 550px;
  align-items: flex-start;
}

.secondL{
  width: 580px;
  margin-right: 30px;
  margin-top: 45px;
  height: 60px;
}
.sattle{
  display: flex;
  justify-content: space-between;
}
.secondS{
  width: 550px;
  margin-top: 5px;
}
.setup{
  display: flex;
  width: 100%;
  /* flex-direction: column; */
}
.SetS{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  /* justify-content: center; */
  align-items: center;
  width: 900px;
  margin-left: 100px;
  height: 550px;
  background-color: #fff;
  border-radius: 10px;
  /* box-shadow: #666; */
  /* background:white ; */
  box-shadow: 1px 2px 4px 3px rgba(0, 0, 0, 0.1);
  /* box-shadow: ; */
  /* border: 2px solid black; */
}
.setupOne{
  /* border: 2px solid black; */
  margin-top: 30px;
  /* width: 435px; */
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
  box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.1);
}
.secondE{
  display: flex;
  justify-content: center;
  color: black;
  gap: 10px;
}
.secondE ul li a span{
  color: black;
  border-radius: none;
}
.secondE ul{
  gap: 10px;
}

